{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row ">
        <div class="text-center">
            <form action="/tasks/create/"  method="POST" class="card card-body">
                <h1>Creacion de Tareas </h1>
                {{error}}
                {% csrf_token %}
                {{form}}
                <button class="btn btn-secondary">
                    save
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}
