{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card-body">
    <img src="{% static 'img/BARNER.png' %}" alt="">

</div>



   <main class="container py-5" >
    <section class="card card-body text-center">
        <h1 class="display-1 ">TechSena</h1>
        <p>TechSena es la plataforma de préstamo de portátiles del Servicio Nacional de Aprendizaje (SENA), diseñada para ofrecer a los estudiantes acceso fácil y rápido a recursos tecnológicos esenciales. Nuestra misión es eliminar las barreras digitales y garantizar que cada aprendiz tenga la oportunidad de sumergirse en el mundo digital sin limitaciones.</p>
        
       

    </section>
   </main>

{% endblock %}