{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card">
    <div class="card-header">Laptod</div>
    <div class="card-body">
        <h4 class="card-title">Laptod</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-striped table-hover table-borderless table-primary align-middle"
                id="table"
            >
                <thead class="table-light">
                    <caption>
                        Listed
                    </caption>
                    <tr>
                        <th># ID</th>
                        <th>Marca</th>
                        <th># Serial</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for compu in compus %}
                    <tr
                        class="table-primary"
                    >
                        <td scope="row">{{compu.id}}</td>
                        <td>{{compu.marca}}</td>
                        <td>{{compu.serial}}</td>
                        <td>{{compu.descricion}}</td>
                        
                        <td>
                            <a class="btn btn-success" href="{% url 'compus_detail' %}" role="button">editar</a>
                            {% if user.is_superuser %}
                           
                             |
                             <a class="btn btn-danger" href="{% url 'delete_Compu' compu.id %}" role="button">borrar</a>
                            </td>
                            {% endif%}
                    </tr>
                    {% endfor%}
                </tbody>
                <tfoot>
                    
                </tfoot>
            </table>
        </div>
        
    </div>
    
    <button class="btn btn-primary ">
        <a href="{% url 'create_compus' %}" class="text-white">Create</a>
    </button>
</div>



{% endblock %}



