{% extends 'base.html' %}

{% block content %}
{{error}}
<main class="container">
  
    <div class="row">
        <div class="text-center">
            <h1 class="text-center displey-3 py-5">
                Laptop Registration
            </h1>
            <form method="post">
              {% csrf_token %}
                <div class="">
                  <label >Marca</label>
                  <input type="text" class="form-control" name="marca">
                </div>
                <div class="">
                  <label>Serial</label>
                  <input type="number" class="form-control" name="serial" >
                </div>
                <div class="">
                    <label >Descripcion</label>
                    <input type="text" class="form-control" name="descricion" >
                  </div>
                
                  <button  class="btn btn-primary">update</button>
                
              </form>
        </div>
    </div>
</main>



{% endblock %}