<div class="modal-dialog modal-lg" role="document">
    <div class="model-content">
        <div class="model-header">
            <h2 class="modal-title">Edition compu</h2>
            <button class="close" type="button" data-dismiss = "modal" aria-label="close">
                <span aria-hidden="true">&times</span>
            </button>
        </div>
        <form action="{% url 'compus_detail' compu.id %}" method="post">
            {% csrf_token %}
            <div class="model-body">
                {{ form.as_p }}
            </div>
            <div class="model-footer">
                <button class="btn btn-danger" type="button" data-dismiss= "modal">Cancelar</button>
                <button class="btn btn-primary" type="submit" >Confirmar</button>
            </div>
        </form>
    </div>
</div>